@model Grupa5Tim3.Models.Aukcija

@using Microsoft.AspNetCore.Identity
@using System.Security.Claims

@{
    ViewData["Title"] = "Create an auction";
}

@if (User.IsInRole("Administrator"))
{
    <div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
        <div class="p-5 shadow rounded" style="width: 600px; background-color: white;">

            <h2 class="text-center mb-4">Create a new auction</h2>

            <form asp-action="Create" method="post" asp-antiforgery="true">
                <div asp-validation-summary="ModelOnly" class="text-danger text-center mb-3" role="alert"></div>

                <div class="form-group mb-3">
                    <label asp-for="umjetninaID" class="form-label">Artwork ID</label>
                    <input asp-for="umjetninaID" class="form-control" />
                    <span asp-validation-for="umjetninaID" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="trenutnaCijena" class="form-label">Current price</label>
                    <input asp-for="trenutnaCijena" class="form-control" />
                    <span asp-validation-for="trenutnaCijena" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="pocetakAukcije" class="form-label">Auction start</label>
                    <input asp-for="pocetakAukcije" type="datetime-local" class="form-control" />
                    <span asp-validation-for="pocetakAukcije" class="text-danger"></span>
                </div>

                <div class="form-group mb-3">
                    <label asp-for="zavrsetakAukcije" class="form-label">Auction end</label>
                    <input asp-for="zavrsetakAukcije" type="datetime-local" class="form-control" />
                    <span asp-validation-for="zavrsetakAukcije" class="text-danger"></span>
                </div>

             

                <div class="form-group mb-3">
                    <label asp-for="status" class="form-label">Auction status</label>
                    <select asp-for="status" class="form-control">
                        <option value="Aktivna">Active</option>
                    </select>
                    <span asp-validation-for="status" class="text-danger"></span>
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary w-100">Create auction</button>
                </div>
            </form>

            <div class="mt-4 text-center">
                <a asp-action="Index">Back to list</a>
            </div>
        </div>
    </div>
}
