@model Grupa5Tim3.Models.Umjetnina

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Umjetnina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="umjetinaID" />
            <div class="form-group">
                <label asp-for="naziv" class="control-label"></label>
                <input asp-for="naziv" class="form-control" />
                <span asp-validation-for="naziv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="autor" class="control-label"></label>
                <input asp-for="autor" class="form-control" />
                <span asp-validation-for="autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="period" class="control-label"></label>
                <input asp-for="period" class="form-control" />
                <span asp-validation-for="period" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="datum" class="control-label"></label>
                <input asp-for="datum" class="form-control" />
                <span asp-validation-for="datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tehnika" class="control-label"></label>
                <input asp-for="tehnika" class="form-control" />
                <span asp-validation-for="tehnika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="pocetnaCijena" class="control-label"></label>
                <input asp-for="pocetnaCijena" class="form-control" />
                <span asp-validation-for="pocetnaCijena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
